<div class='container'>
    <div class='row '>
        <div class='col-sm-12  '>
            
                    <div class="card  text-center my-5">
  <div class="card-header">
  中部景點拍-第一版
  </div>
  <div class="card-body">

    <p class="card-text">please git clone</p>
          <a href="https://github.com/bbchuoo/works_report_2" target="_blank" class="btn btn-primary">github</a>
  </div>
</div>

                    <div class="card  text-center my-5">
  <div class="card-header">
  中部景點拍-畢業專題版
  </div>
  <div class="card-body">
      
      

    <p class="card-text">please git clone</p>
     <p class="card-text">please install moudle</p>
      <p class="card-text">npm install cors</p>
            <p class="card-text">npm install body-parser</p>
                  <p class="card-text">npm install ejs</p>
                        <p class="card-text">npm install express-session</p>
          <a href="https://github.com/bbchuoo/works_report_2" target="_blank" class="btn btn-primary">github</a>
  </div>
</div>

<div class="card  text-center my-5">
  <div class="card-header">
   Tic-Tac-Toe 
  </div>
  <div class="card-body">
      
      

    <p class="card-text">please git clone</p>
          <a href="https://github.com/bbchuoo/report0906" target="_blank" class="btn btn-primary mb-3">github</a>
          
       
  </div>
</div>
      
      <div class="card  text-center my-5">
  <div class="card-header">
   introduction-by-angular 
  </div>
  <div class="card-body">
      
      

    <p class="card-text">please git clone</p>
          <a href="https://github.com/bbchuoo/report0906" target="_blank" class="btn btn-primary mb-3">github</a>
          
       
  </div>
</div>
         

        </div>

    </div>

</div>
